[Unit]
Description=Launch piNAS Docker services
After=network-online.target
After=docker.service

[Service]
User=rpi
Group=rpi
Type=simple
ExecStartPre=bash -c 'git -C ~/piNAS pull && docker container prune -f'
ExecStart=docker compose -f /home/rpi/piNAS/docker-compose.yml up
ExecStop=docker compose -f /home/rpi/piNAS/docker-compose.yml down

[Install]
WantedBy=multi-user.target
