[Unit]
Description=Launch PiNAS Docker services
After=network-online.target
After=docker.service

[Service]
User=rpi
Group=rpi
Type=simple
ExecStartPre=bash -c 'git -C ~/PiNAS pull && docker container prune -f'
ExecStart=docker-compose -f /home/rpi/PiNAS/docker-compose.yml up

[Install]
WantedBy=multi-user.target
